<h2 class="page-title">
    {{ prestataires|length }}
    {% if  prestataires|length <= 1 %}
        résultat correspondant à votre recherche
    {% else %}
        résultats correspondants à votre recherche
    {% endif %}

</h2><!-- /.page-title -->