

{% extends "index.html.twig" %}


{% block content %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    {{ form_start(form) }}
                    <input type="submit">
                    {{ form_end(form) }}


                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}
