{% extends "profil/prestataire.html.twig" %}

{% block subTitle %}
    <h2>Promotions</h2>
{% endblock %}

{% block content_profil%}

    {% include 'lib/list/promotions.html.twig' %}

{% endblock %}

