{% extends "index.html.twig" %}

{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">



                    <div class="caution">
                        <h1>500</h1>
                        <h2>Internal Error</h2>
                    </div><!-- /.page-header -->

                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}
