{% extends "profil/profil_base.html.twig" %}

{% block imgProfil %}{{ asset(utilisateur.avatar|showImage)}}{% endblock %}

{% block widgets %}

{% endblock %}

{% block menuOptions %}
{% endblock %}

{% block nomProfil %}
    <h1>{{ utilisateur.prenom|capitalize~' '~utilisateur.nom|capitalize }}

    </h1>
{% endblock %}

{% block form %}

    {% include 'lib/form/form_internaute.html.twig' %}

{% endblock %}


