{% extends "profil/profil_base.html.twig" %}

{% block imgProfil %}{{ utilisateur.avatar.nom|tempDevImage }}{% endblock %}
{% block txtModifImg %}Modifier mon avatar{% endblock %}

{% block widgets %}

    <div class="widget">
        <div class="menu-advanced">
            <div>Newsletter
            {% if utilisateur.newsletter == false %}
            <a class="btn-primary btn-xs pull-right mt-5" href="#">S'abonner</a>
        {% else %}
            <a class="btn-danger btn-xs pull-right mt-5" href="#"> Se Désabonner</a>
            {% endif %}
            </div>
        </div>
    </div><!-- /.widget -->
{% endblock %}

{% block menuOptions %}
{% endblock %}

{% block nomProfil %}
    <h1>{{ utilisateur.prenom|capitalize~' '~utilisateur.nom|capitalize }}

    </h1>
{% endblock %}

{% block form %}

    {% include 'lib/form/form_internaute.html.twig' %}

{% endblock %}


