{% extends "index.html.twig" %}

{% block content %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">



                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="page-title">
                                <h1>Suppression de votre Profil</h1>
                            </div><!-- /.page-title -->
                            <p>
                                êtes vous sûr de vouloir faire ça ?  mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales
                            </p>

                            <form method="post" action="?">
                                <div class="form-group">
                                    <label for="login-form-password">Password</label>
                                    <input type="password" class="form-control" name="password" id="login-form-password">
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label for="login-form-password-retype">Retype password</label>
                                    <input type="password" class="form-control" name="password" id="login-form-password-retype">
                                </div><!-- /.form-group -->

                                <button type="submit" class="btn btn-primary pull-right">Change</button>
                            </form>
                        </div><!-- /.col-sm-4 -->
                    </div><!-- /.row -->

                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}