<div class="detail-gallery">


    {% if prestataire.photos is not empty %}

        {% set first = prestataire.photos|first %}
        <div class="detail-gallery-preview">
            <a href="{{asset( first|showImage)}}">
                <img src="{{asset( first|showImage)}}">
            </a>
        </div>


        <ul class="detail-gallery-index">
            {% for photo in prestataire.photos %}
            <li class="detail-gallery-list-item active mb30">
                <a data-target="{{asset( photo|showImage)}}">
                    <img src="{{asset( photo|showImage)}}" alt="...">
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div><!-- /.detail-gallery -->