.SEA-conteneur {
    padding: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.SEA-contenu {

    max-width: 50%;
    background-color: white;
    display: inline-block;
    padding: 10px 50px 50px 50px;
}

.header-search{
    width: auto !important;
}

.header-search .btn,.ttrbrksearchform,.btn-group, .dropdown-menu{
    font-size: 11px !important;
}

.ttrbrksearchform ~ .btn-group {
    width: 150px !important;

}
.ttrbrksearchform {
    padding: 3px 6px !important;

}

.ttrbrkselect > .btn{
    padding: 3px 25px 3px 6px!important;
    margin-left: 0 !important;
    height: 34px !important;
    margin-top: 3px;

}

.ttrbrkselect .form-control {
    height: 34px !important;
}
.dropdown-menu .inner > .selected{
    background-color: #009f8b !important;
}

.pagination > .active > span{
    background-color: rgba(0, 159, 139, 0.7) !important;
    border-color: rgba(0, 159, 139, 0.7) !important;
}

.required{
    color: #555555 !important;
    font-weight: bold !important;
}

.row .ttrbrkprest{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.index-categ > label, .formcategorie > .btn{
    margin-left: 15px;
}

.mt-50{
    margin-top: -50px ;
}

.mt-5{
    margin-top: -5px;
}

.carousel-inner > .item > img, .carousel-inner >.item > a > img{
    min-width: 100%;
    max-height: 500px;
}

[class^='select2'] {
    border-radius: 0px !important;
    font-size: 11px;
}

#localite + span{
    width: 250px !important;
}

#categorie + span, [role='combobox'], ul[class ="select2-selection__rendered"]{
    height: 34px !important;
}