{% extends "index.html.twig" %}

{% block content %}

<div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">

                    <div class="document-title">
                        <h1>Contact</h1>

                    </div><!-- /.document-title -->



                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Address</h3>

                            <p>
                                13/2 Elizabeth Street,<br>
                                Melbourne, Australia
                            </p>
                        </div><!-- /.col-sm-4 -->

                        <div class="col-sm-4">
                            <h3>Contacts</h3>

                            <p>
                                1900-CO-WORKER<br>
                                1800-3322-4453
                            </p>
                        </div><!-- /.col-sm-4 -->

                        <div class="col-sm-4">
                            <h3>Social Profiles</h3>

                            <ul class="social-links nav nav-pills">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div><!-- /.col-sm-4 -->
                    </div><!-- /.row -->

                    <h3>We’d love to hear from you. Say us hello!</h3>

                    <div class="contact-form-wrapper clearfix background-white p30">
                        <form class="contact-form" method="post" action="?">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="contact-form-name">Name</label>
                                        <input type="text" name="name" id="contact-form-name" class="form-control">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="contact-form-subject">Subject</label>
                                        <input type="text" name="subject" id="contact-form-subject" class="form-control">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="contact-form-email">E-mail</label>
                                        <input type="text" name="email" id="contact-form-email" class="form-control">
                                    </div><!-- /.form-group -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->

                            <div class="form-group">
                                <label for="contact-form-message">Message</label>
                                <textarea class="form-control" id="contact-form-message" rows="6"></textarea>
                            </div><!-- /.form-group -->

                            <button class="btn btn-primary pull-right">Post Message</button>
                        </form><!-- /.contact-form -->
                    </div><!-- /.contact-form-wrapper -->

                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}
