<div class="widget">

    <h2 class="widgettitle">Archives</h2>

    <ul class="menu">
        <li><a href="#">August <strong class="pull-right">12</strong></a></li>
        <li><a href="#">July <strong class="pull-right">23</strong></a></li>
        <li><a href="#">June <strong class="pull-right">53</strong></a></li>
    </ul><!-- /.menu -->
</div><!-- /.widget -->