{% extends ':email:mail_base.html.twig' %}
{% block content %}
<tr>
    <td class="container">

        <!-- Message start -->
        <table>
            <tr>
                <td align="center" class="masthead">

                    <h1>Bienvenue ami du Bien-Être !</h1>

                </td>
            </tr>
            <tr>
                <td class="content">

                    <h2>Ceci est une confirmation d'inscription,</h2>

                    <p>
                        Alors si tu veux confirmer ton inscription, clique sur le liens ci-dessous.
                    </p>

                    <table>
                        <tr>
                            <td align="center">
                                <p>
                                    <a href="{{ absolute_url(path('confirmation',{'token': token})) }}" class="button">clic sur ce lien pour confirmer ton inscription</a>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <p>Le liens pour confirmer ton inscription ce trouve juste ci dessus, mais tu peux aussi cliquer sur ce lien ci : <a href="{{ absolute_url(path('confirmation',{'token': token})) }}">confirmer mon inscription</a>.</p>

                    <p><em>- L'Admin</em></p>

                </td>
            </tr>
        </table>

    </td>
</tr>
<tr>
    <td class="container">

        <!-- Message start -->
        <table>
            <tr>
                <td class="content footer" align="center">
                    <p>Envoyé par <a href="{{ path('homepage') }}">Bien-Être Corp</a>, 1234 Yellow Brick Road, OZ, 99999</p>
                </td>
            </tr>
        </table>

    </td>
</tr>
{% endblock %}