{% extends ':email:mail_base.html.twig' %}
{% block content %}
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead">

                        <h1>Ceci est une newsletter</h1>

                    </td>
                </tr>
                <tr>
                    <td class="content">

                        <h2>Ceci est une newsletter</h2>

                        <p>
                            Ceci est une newsletter
                        </p>


                        <p><em>- L'Admin</em></p>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>Envoyé par <a href="{{ path('homepage') }}">Bien-Être Corp</a>, 1234 Yellow Brick Road, OZ, 99999</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
{% endblock %}