{% extends (app.user.getType()) == 'Internaute'
    ? ":profil:internaute.html.twig"
    : ":profil:prestataire.html.twig" %}


{% block subTitle %}
    <h2>Suppression Compte</h2>
{% endblock %}

{% block content_profil%}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">



                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <p>
                                êtes vous sûr de vouloir faire ça ?  mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales mentions légales
                            </p>

                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        </div><!-- /.col-sm-4 -->
                    </div><!-- /.row -->

                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}